body {
    background-color:darkcyan;
}
#score {
    font-size: 35px;
    margin-right: 85%;
}
#timer {
    font-size: 35px;
    margin-left: 85%;
}
#bedrawn {
    color: crimson;
    font-size: 50px;
}